@use "global-vars" as *;
@use "funcs" as *;

$media-max-width-point: 840px;
$media-max-width-point2: 600px;

.footer {
    background: #F4F4F4;
}

.footer__wrapper {
    margin: 0 auto;
    max-width: 1520px;
    padding: 58px 20px 49px;    
}

.footer__logo {
    margin: 0 auto;
    display: block;
    max-width: 67px;
}

a.footer__logo {
    max-width: min-content;
}

.footer__title {
    padding: 21px 0;
    min-height: 117px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 24px;
    line-height: 1.167em;
    letter-spacing: 0.25em;
    color: #000000;
    opacity: 0.9;

    > a {
        text-decoration: none;
        color: inherit;
    }
}

.footer__nav {
    margin: 0 auto 54px;
    max-width: 778px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $media-max-width-point) {
        justify-content: center;
    }
}

.footer__link {
    padding: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.222em;
    text-decoration: none;
    color: #6D6D6D;
    white-space: nowrap;
    transition: opacity .4s ease;
}

.footer__link:hover {
    opacity: 0.6;
}

.footer__splitter {
    margin: 0 auto 53px;
    max-width: 1110px;
    height: 1px;
    background: #000000;
    opacity: 0.2;
}

.footer__box {
    max-width: 1505px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $media-max-width-point2) {
        flex-flow: column-reverse;
        text-align: center;
    }
}

.footer__copy {
    padding: 13px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    font-feature-settings: 'liga' off;
    color: #6D6D6D;
}

.footer__socials {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.footer__soc-link {
    padding: 8px;
    transition: opacity .4s ease;
}

.footer__soc-link:hover {
    opacity: 0.6;
}

.footer__soc-img {
}